:root {
    font-size: 1.0em;
}

/* 
@font-face {
    font-family: 'burbank';
    src: url('burbank.ttf') format('truetype');
}  */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font: "rubic";
}

 .grid {
    display: grid;
    grid-template-areas: 
        "left-margin        title-div          title-div           title-div"
        "left-margin        country-title-div  state-title-div     chart-title-div"
        "left-margin        country-div        state-div           chart-div";
    grid-template-columns: 30px 240px 240px 1000px;
    grid-template-rows: 60px 26px auto; 
    grid-gap: 2px 12px;
    margin: 0px;
    height: 1080px;
    width: 1900px; 
}   

/*  grid-area */
#title-div {
    grid-area: title-div;
    font-weight: 700;
    font-size: 3rem;
}

#country-title-div {
    grid-area: country-title-div;
    font-weight: 700;
    font-size: 1.4rem;
    overflow: auto;
}

#state-title-div {
    grid-area: state-title-div;
    font-weight: 700;
    font-size: 1.4rem;
}

#chart-title-div {
    grid-area: chart-title-div;
    font-weight: 700;
    font-size: 2rem;
}

#country-div {
    grid-area: country-div;
}

#state-div {
    grid-area: state-div;
}

#chart-div {
    grid-area: chart-div;
}


/* --- styles --- */

.bar-text {
    font-size: 16px;
    font-family: sans-serif;
    pointer-events: none;
}